
<center>
	<div class="ContainerMain">
		<h1> Ugly And Alone? Lets us Help You </h1>

	</div>

	<div class="HandsTogether"></div>

  <div class="loginForm">
      <form action="sessions/create">
      Login: <input type="text" name="email" placeholder="Login"><br>
      Password <input type="password" name="password" placeholder="Password"><br>
      <button>Login</button> <a href onclick="location.href='/users/new'">Register</a>
      </form>

  </div>

</center>