// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	
	background-color:black;
	color:white;
}

.loginForm{

	width: 200px;
	height:120px;
	background-color: white;
	color: black;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
 
}



.ContainerMain{
	
}

 .imagesZombieIndex {

   
	margin-top :20px;
 	text-align:center;
	background-image: url(braces_zombie.jpg); 
	width: 750px;
	height:449px;
	background-repeat : no-repeat;
	padding-bottom: 10px;
	margin-bottom:15px;

  } 
  
  .HandsTogether{
    	background-image: url(background.jpg); 
	background-repeat : no-repeat;
	width: 660px;
	height:400px;
	margin-bottom: 15px;
  }

  a:link{
      color:white;   
    }
  

